$primary-color: #326dee;
$secondary-color: #1ac888;
$error-color: #ff3b30;
$warning-color: #ffcc00;

// spacing
$base-padding: 0.75rem;
$base-margin: 0.75rem;

// border
$base-border-radius: 20px;
$base-border-thickness: 1px;
