


// variables
// theme colors

@import 'variables';
h1 {
    color: $primary-color;
    border-radius: $base-border-radius;
    border: $base-border-thickness;
    border-style: solid;
    border-color: $primary-color;
    a {
        text-decoration: none;
        color: $secondary-color;
    }
}